<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Google Visioner app</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'spa-app-bundle' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
